.projectsContainer {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 1;
  padding: 10px; /* Add some padding for smaller screens */
}


.title{
  font-style: italic;
  font-size: 50px;
  margin-top: 20px;
  padding: 50px;
}


.subTitle{
  font-size: 40px;
  font-style: italic;
  padding: 0px 50px 50px 50px;

}
.subTitle a{
  color: yellow;
}
.subTitle a:hover{
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  .projectsContainer {
    column-gap: 15px; /* Adjust gap for medium screens */
    row-gap: 15px;
  }
}

@media (max-width: 768px) {
  .projectsContainer {
    column-gap: 10px; /* Further reduce gap for small screens */
    row-gap: 10px;
  }

  .swiperContainer{
    
  }

}

@media (max-width: 480px) {
  .projectsContainer > * {
    flex: 1 1 100%; /* Full width for each card */
    max-width: 100%;
  }
}