.profileContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 120px;
}

.about{
    font-family: fangsong;
    font-style: italic;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}


li{
    font-size: 20px;
    font-style: italic;
}

.profileImage{
    border-radius: 10%;
    width: 300px;
    height: 400px;
    background-size: cover;
    box-shadow: 0 0 10px 5px rgba(82, 78, 78, 0.5);
    /* box-shadow: 0 0 5px 5px rgb(121, 113, 4); */
}


.mySelf{
    font-size: 45px;
    font-style: italic;
    /* font-family: "Brush Script MT", cursive; */
    color:rgb(241, 237, 237);
    padding: 100px 50px 100px 50px;
    flex-shrink: calc( 100% 20px);
}


@media screen and (max-width: 700px){
    .profileContainer{
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .about{
        font-size: small;
        width: max-content;
    }

    .qualifications{
        font-size: small;
        width: max-content;
    }

    .profileImage{
        height: 300px;
        width: 55vw;
        background-size: contain;
        border-radius: 50%;
    }

    .mySelf{
        font-size: large;
        width: auto;
        padding: 10px;
    }
}
