.profileContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 120px;
    column-gap: 50px;
}

.about{
    font-family: fangsong;
    font-style: italic;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 70px;
}


li{
    font-size: 20px;
    font-style: italic;
}

.profileImage{
    border-radius: 12px;
    width: 300px;
    height: 400px;
    background-size: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Enhanced shadow */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in;
}

.profileImage:hover {
    transform: scale(1.05); /* Slight zoom effect */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5); /* More depth on hover */
    border-radius: 50%;
}



.mySelf{
    font-size: 45px;
    font-style: italic;
    /* font-family: "Brush Script MT", cursive; */
    color:rgb(241, 237, 237);
    padding: 110px 110px 110px 110px;
    flex-shrink: calc( 100% 20px);
    animation: fade;
    animation-timeline: view(40% auto);
}


@media screen and (max-width: 700px){
    .profileContainer{
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .about{
        font-size: small;
        width: max-content;
    }

    .qualifications{
        font-size: small;
        width: max-content;
    }

    .profileImage{
        height: 300px;
        width: 55vw;
        background-size: contain;
        border-radius: 50%;
    }

    .mySelf{
        font-size: large;
        width: auto;
        padding: 50px;
    }
}



@keyFrames fade{
    from{
        opacity: 0;
        transform: scale(0);

    }
    to{
        opacity:1;
        transform: scale(1);
    }
}