.cardContainer{
    width: auto;
    height: 350px;
    background-color: white;
    border-radius: 15px; 
    margin: 20px;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

a{
    text-decoration: none;
}


.cardContent{
    padding: 20px;
}


.cardContainer:hover{
   cursor: pointer;
   filter: brightness(0.5); /* Lighten the card slightly */
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Enhanced shadow on hover */
   transform: scale(1.05); /* Slight zoom effect */
   transition: 0.5s;
}




