body{
    /* background-color: #000000; */
    color:#FFFFFF;
    background-image: url("./assets/background.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
} 

*{
    margin:0;
    padding: 0;
}